* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}
body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

/* HEADER PART */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
  height: 35px;
  width: 35px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/* HEADER PART END */

/* FOOTER PART STARTS */
footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 10px 17px;
}
/* FOOTER PART ENDS HERE */

.form-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}
input {
  font-size: 1rem;
  width: 80%;
}
<<<<<<< HEAD

/* home-page start here */
.main-banner-content {
  top: 25%;
  left: 8%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
}

.main-banner-content h5 {
  font-size: 35px;
  font-weight: 500;
  line-height: 48px;
  padding: 0;
  margin: 0 0 12px;
}

.main-banner-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-131921);
  letter-spacing: 0.4px;
  margin: 0 0 12px;
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
}

.small-banner {
  width: 49%;
}
.small-banner-content h5 {
  font-size: 20px;
  font-weight: 550;
  line-height: 22px;
  padding: 0;
  margin: 0 0 10px;
}

.small-banner-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-131921);
  letter-spacing: 0.4px;
  margin: 0 0 12px;
}

/* Home navbar 2 starts */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
.service-item-text h6 {
  font-size: 0.9rem;
  font-weight: 600;
}
.service-item-text p {
  font-size: 0.8rem;
  font-weight: 500;
}

.categories {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 10px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.blogheading {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 600;
  padding: 1.2rem 1rem;
}
.blog-card img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.blog-card-content {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.blog-card-content .date {
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-card-content h6 {
  font-size: 18px;
  color: var(--color-131921);
}
.blog-card-content p.desc {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-777777);
}
/* Home navbar 2 ends */

/* Product card start */
.product-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card:hover .product-actions {
  right: 23px;
}

.product-card .wishlist-icon {
  top: 6%;
  right: 23px;
}
.product-card .product-img {
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
}

.product-card .product-img img:last-child {
  display: none;
}
.product-card:hover .product-img img:last-child {
  display: block;
}
.product-card:hover .product-img img:first-child {
  display: none;
}
.product-card .product-info h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-info h5 {
  color: var(--color-131921);
  font-size: 13px;
}

.product-card .product-info p.price {
  color: var(--color-131921);
  font-size: 16px;
}
.product-card .product-info p.description {
  font-size: 13px;
  color: var(--color-777777);
}
.product-actions {
  top: 15%;
  right: -23px;
  transition: 0.3s;
}
/* Product card ends */

/* Special product card start */
.special-product-card {
  padding: 10px;
  border: 10px;
  background-color: white;
}

.badge {
  background-color: #fc353c00;
}
special-product-content {
  margin-left: -30px;
}

/* Special product card ends */

/* Famous product card start */
.famous-card .famous-card-content {
  top: 10%;
  left: 10%;
}
.famous-card .famous-card-content h5 {
  font-size: 12px;
  font-weight: 550;
  line-height: 22px;
  padding: 0;
  color: white;
  margin: 0 0 6px;
}
.famous-card .famous-card-content h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  color: white;
  padding: 0;
  margin: 0 0 10px;
  text-transform: capitalize;
}
.famous-card .famous-card-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-777777);
  letter-spacing: 0.4px;
  margin: 0 0 12px;
  padding-right: 10px;
}

/* famous product card ends */

/* -----------------------Our store page starts from here------------------------- */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: var-(--color-1c1c1b);
  margin-bottom: 15px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: inherit;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: rgba(0, 0, 0, 0.25);
}

.sub-title {
  font-size: 14px;
  color: var(--color-1c1c1b);
  font-weight: 600;
  margin: 15px 0;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
}
.filter-card .random-products .product-title {
  font-size: 14px;
  margin: 7px 0px;
}

.filter-card .random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}
.filter-card .random-products p {
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  height: 25px;
  width: 25px;
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 48%;
}
.gr-4 {
  width: 32%;
}

.gr-3 {
  width: 24%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-4 .product-card .product-img {
  width: 100%;
}

.gr-6 .product-card .product-img .img-photo {
  width: 100%;
}
.gr-12 .product-card .img-photo {
  width: 300px;
}
.gr-12 .product-actions {
  top: 18%;
}
.gr-6 .product-actions {
  top: 13%;
}
/* -----------------------Our store page ends from here------------------------- */

/* -----------------------Our contact page starts from here------------------------- */

.contact-inner-wrapper {
  padding: 30px 20px;
  background-color: white;
  border-radius: 15px;
}

.contact-inner-wrapper > div {
  width: 48%;
}

.contact-title {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  text-align: left;
}

.contact-inner-wrapper .form-control {
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--color-f5f5f7);
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style-type: none;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}
/* -----------------------Our contact page ends from here------------------------- */

/* -----------------------Our compare product page starts from here------------------------- */

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  top: 10px;
  right: 10px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details .title,
.wishlist-details .title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-1c1c1b);
}
.compare-product-details .price,
.wishlist-details .price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.compare-product-details .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid var(--color-f5f5f7);
}

.product-detail h5 {
  font-size: 18px;
  line-height: 21px;
}
/* -----------------------Our compare product page ends from here------------------------- */

/* -----------------------Our wishlist page starts from here------------------------- */

.wishlist-card .cross {
  top: 10px;
  right: 10px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

/* -----------------------Our wishlist page ends from here------------------------- */

/* -----------------------Our Authentication page starts from here------------------------- */

.auth-card,
.reset-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
}

.auth-card h3 .reset-card h3 {
  font-size: 20px;
  font-weight: 550;
  color: var(--color-777777);
}

.reset-card p {
  font-size: 13px;
  color: var(--color-777777);
}

.auth-card .form-control .reset-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 15px;
  border-radius: 10px;
  border-color: transparent;
}

/* .auth-card .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
.auth-card .form-group label {
  width: 30%;
  text-align: start;
}

.auth-card a,
.reset-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}

.signup:hover {
  background-color: var(--color-131921);
  color: white;
}
/* -----------------------Our Authentication page ends from here------------------------- */

.single-blog h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}
.single-blog p {
  color: var(--color-777777);
  font-size: 14px;
}

.back-btn {
  font-size: 15px;
  color: var(--color-777777);
  margin-bottom: 20px;
}
.single-blog-card a {
  color: var(--color-777777);
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

/* -----------------------Policy  page starts from here------------------------- */

.policy-card {
  padding: 30px;
  background-color: white;
  /* width: 500px; */
  margin: 30px auto;
}
/* -----------------------Policy page ends from here------------------------- */

/* -----------------------Main Product page starts from here------------------------- */
.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image-wrapper {
  height: 500px;
  width: 100%;
}

.main-product-image-wrapper img {
  width: 100% !important;
  height: 500px !important;
  object-fit: contain;
}

.main-product-image .js-image-zoom__zoomed-image {
  left: px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
}

.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.other-product-image {
  background-color: white;
  padding: 20px;
}
.other-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px;
  width: 48%;
  height: 150px;
}

.other-product-image > div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-product-details a {
  font-size: 13px;
  color: var(--color-777777);
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  margin-bottom: 0;
}

.main-product-details .review {
  color: var(--color-777777);
  font-size: 13px;
}
.product-heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin: 0;
}
.product-data {
  font-size: 13px;
  color: var(--color-777777);
  margin: 0;
}

.description-wrapper h4 {
  font-size: 26px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.description-wrapper p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head p,
.review-head a {
  font-size: 18px;
  color: var(--color-777777);
}

.review-head .review-form label {
  font-size: 16px;
  color: var(--color-777777);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 14px;
  color: var(--color-777777);
}
.review h6 {
  margin: 0;
}
.review-head .review-list .review {
  padding: 20px 0;
}

.main-product-details {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

/* -----------------------Main Product page ends from here------------------------- */

/* -----------------------Cart page starts from here------------------------- */

.cart-header {
  border-bottom: 1px solid #eaeaea;
}

.cart-header h4 {
  font-size: 13px;
  color: var(--color-777777);
}
.cart-col-1 {
  width: 40%;
}
.cart-col-2 {
  width: 10%;
}
.cart-col-3 {
  width: 15%;
}
.cart-col-1 {
  width: 15%;
}

.cart-img img {
  height: 120px !important;
  width: 100px !important;
  object-fit: cover;
}
.cart-body h5.price {
  font-size: 15px;
  color: var(--color-1c1c1b);
  font-weight: 700;
}

.cart-body h5.title,
.cart-body p {
  font-size: 14px;
  color: var(--color-1c1c1b);
}
.cart-content{
  min-width: 150px;
}
/* -----------------------Cart page ends from here------------------------- */
=======
>>>>>>> parent of 11da0cb (static home page, store page, contact page, blog page and login register page:)
